phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
python-multipart
sqlalchemy
pgvector
psycopg[binary]
pypdf
streamlit
google-genai
pydantic
langchain
langchain-community
langchain-core
langgraph
ipykernel
langchain-groq
arxiv
wikipedia